@model ConestogaConnect.Models.RegisterViewModel
@{
    ViewBag.Title = "Terms and Conditions";
}

<h2>@ViewBag.Title.</h2>
<p>
    Terms and Conditions: please abide by the following to register your new account:
</p><p>
    1. abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a abcd abc ab a
</p><p>
    2. bcde bcd bc b bcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd bc bbcde bcd
</p><p>
    3. cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c cdef cde cd c
</p><p>
    4. defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d defg def de d
</p><p>
    5. efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e efgh efg ef e
</p><p>
    6. fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f fghi fgh fg f
</p><p>
    7. ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g ghij ghi gh g
</p><p>
    8. hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h hijk hij hi h
</p><p>
    9. ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i ijkl ijk ij i
</p><p>
    10. jklm jkl jk j jklm jkl jk j jklm jkl jk j jklm jkl jk j jklm jkl jk j jklm jkl jk j
</p>

    @Html.ActionLink(
    linkText: "I agree to the terms and conditions presented here",
    actionName: "Register",
    controllerName: "Account",
    routeValues: new
    {
        agreeToTOC = "read"
    },
    htmlAttributes:null
    )


        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
